# Default Devnet RPC URL (optional, defaults to web3.js clusterApiUrl if not set)
NEXT_PUBLIC_DEVNET_RPC_URL=https://api.devnet.solana.com

# Mainnet RPC URL
NEXT_PUBLIC_MAINNET_RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_API_KEY
